.square {
  height: 100px;
  border: 1px solid;
  font-size: 40pt;
  text-align: center;
  line-height: 85px;
}

.board {
  display: grid;
  margin: 20px auto;
  width: 300px;
  grid-template-columns: 100px 100px 100px;
}
